body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	background-color: #eeeeee;
}

.site-navigation li,
.user-navigation li {
	text-transform: uppercase;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a ,
.user-navigation a {
	color: black;
}

.site-navigation a:focus,
.site-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	color: #a7a7a7;
}

.slide-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.slide {
	list-style: none;
}

.description {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 42px;
	margin-right: 55px;
}

.button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	vertical-align: middle;
	border: none;
	height: 50px;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: #da474b;
}

.button-learn-more {
	background-color: #fb565a;
	width: 240px;
	padding: 19px 55px 18px 53px;
	border-radius: 3px;
}

.services-list li {
	list-style: none;
	display: inline-block;
	margin-right: 100px;
}

.services-item h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.services-item p {
	margin-bottom: 35px;
}

.button-services {
	padding: 19px 39px 18px 39px;
	border-radius: 3px;
}

.button-apps:hover,
.button-apps:focus {
	background-color: #00bc6c;
}

.button-apps:active {
	background-color: #00aa62;
	color: #38bd85;
}

.button-presentations:hover,
.button-presentations:focus {
	background-color: #eab534;
}

.button-presentations:active {
	background-color: #e5a722;
	color: #edc164;
}

.button-websites {
	background-color: #fb565a;
}

.button-apps {
	background-color: #00ca74;
}

.button-presentations {
	background-color: #efc84a;
}

.about-us-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	margin-bottom: 35px;
}


