body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	background-color: #eeeeee;
}

.site-navigation li,
.user-navigation li {
	text-transform: uppercase;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a ,
.user-navigation a {
	color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	color: #a7a7a7;
}

/* .main-header-logo:hover,
.main-header-logo:focus {
}*/

.slide-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.slide {
	list-style: none;
}

.description {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.button {
	font: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	vertical-align: middle;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: #da474b;
}

.button-learn-more {
	background-color: #fb565a;
}

.services-list li {
	list-style: none;
}

.services-item h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.services-item p {
	margin-bottom: 35px;
}

.button-apps:hover,
.button-apps:focus {
	background-color: #00bc6c;
}

.button-apps:active {
	background-color: #00aa62;
	color: #38bd85;
}

.button-presentations:hover,
.button-presentations:focus {
	background-color: #eab534;
}

.button-presentations:active {
	background-color: #e5a722;
	color: #edc164;
}

.button-websites {
	background-color: #fb565a;
}

.button-apps {
	background-color: #00ca74;
}

.button-presentations {
	background-color: #efc84a;
}

.about-us-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.resume h3 {
	font-weight: 700;
	text-transform: uppercase;
}

.orders {
	list-style: none;
}

caption {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

.facts {
	font-size: 45px;
	font-weight: 700;
	line-height: 10.06px;
}

.partners li {
	display: inline-block;
	opacity: 0.2;
}

.partners li:hover,
.partners li:focus {
	opacity: 1;
}

.partners li:active {
	opacity: 0.1;
}

.contacts-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.address {
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.button-contacts {
	background-color: #fb565a;
}

.write-to-us h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.write-to-us-form input[type='text'],
.write-to-us-form input[type='email'] {
	font: inherit;
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
}

.write-to-us-form input:hover,
.write-to-us-form input:focus,
textarea:hover,
textarea:focus {
	border: 2px solid #b4b9bb;
}

.write-to-us-form input:active,
textarea:active {
	border: 2px solid #000000;
}

.letter {
	font: inherit;
	border: 2px solid #d7dcde;
	opacity: 0.5;
	color: #444444;
	font-weight: 400;
	line-height: 18px;
}

label {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.button-write-to-us {
	background-color: #fb565a;
}

.footer-social li {
	list-style: none;
}

b {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.page-title {
	text-align: center;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.filter legend,
.catalog h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.filter fieldset {
	border: none;
}

.filter ul {
	list-style: none;
	color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.features-list:hover + label,
.features-list:focus + label{
	color: #283136;
}

.features-list label {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.filter-button {
	background-color: #eeeeee;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	opacity: 0.3;
	color: #000000;
}

.type-sort {
	opacity: 0.3;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.type-sort-current {
	opacity: 1;
}

.type-sort:hover,
.type-sort:focus {
	opacity: 0.6;
}

.type-sort:active {
	opacity: 1;
}

.catalog-list {
	list-style: none;
}

.catalog-title-link {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-description {
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.catalog-price-link {
	background-color: #fb565a;
}

.catalog-price-link:hover,
.catalog-price-link:focus {
	background-color: #e74246;
}

.catalog-price-link:active {
	color: #ffffff;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.pagination-item a {
	background-color: #eeeeee;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.pagination-item-next {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	opacity: 0.3;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}

.pagination-item-current a {
	border: 3px solid #dbdbdb;
}