body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	background-color: #eeeeee;
}

.site-navigation li,
.user-navigation li {
	text-transform: uppercase;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a ,
.user-navigation a {
	color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	color: #a7a7a7;
}

/* .main-header-logo:hover,
.main-header-logo:focus {
}*/

.slide-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.slide {
	list-style: none;
}

.description {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 42px;
	margin-right: 55px;
}

.button {
	font: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	vertical-align: middle;
	border: none;
	height: 50px;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: #da474b;
}

.button-learn-more {
	background-color: #fb565a;
	width: 240px;
	padding: 19px 55px 18px 53px;
	border-radius: 3px;
}

.services-list li {
	list-style: none;
	display: inline-block;
	margin-right: 100px;
}

.services-item h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.services-item p {
	margin-bottom: 35px;
}

.button-services {
	padding: 19px 39px 18px 39px;
	border-radius: 3px;
}

.button-apps:hover,
.button-apps:focus {
	background-color: #00bc6c;
}

.button-apps:active {
	background-color: #00aa62;
	color: #38bd85;
}

.button-presentations:hover,
.button-presentations:focus {
	background-color: #eab534;
}

.button-presentations:active {
	background-color: #e5a722;
	color: #edc164;
}

.button-websites {
	background-color: #fb565a;
}

.button-apps {
	background-color: #00ca74;
}

.button-presentations {
	background-color: #efc84a;
}

.about-us-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	margin-bottom: 35px;
}

.resume h3 {
	font-weight: 700;
	text-transform: uppercase;
}

.orders {
	list-style: none;
}

caption {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 49px;
}

.facts {
	font-size: 45px;
	font-weight: 700;
	line-height: 10.06px;
}

.partners li {
	display: inline-block;
	opacity: 0.2;
}

.partners li:hover,
.partners li:focus {
	opacity: 1;
}

.partners li:active {
	opacity: 0.1;
}

.contacts-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.address {
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.button-contacts {
	background-color: #fb565a;
	padding: 19px 46px 19px 45px;
	border-radius: 3px;
}

.write-to-us h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.write-to-us-form input[type='text'],
.write-to-us-form input[type='email'] {
	font: inherit;
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
}

.write-to-us-form input:hover,
.write-to-us-form input:focus,
textarea:hover,
textarea:focus {
	border: 2px solid #b4b9bb;
}

.write-to-us-form input:active,
textarea:active {
	border: 2px solid #000000;
}

.letter {
	font: inherit;
	border: 2px solid #d7dcde;
	opacity: 0.5;
	color: #444444;
	font-weight: 400;
	line-height: 18px;
}

label {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.button-write-to-us {
	background-color: #fb565a;
	padding: 19px 84px 18px 82px;
	border-radius: 3px;
}

.footer-social li {
	list-style: none;
}

b {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}