body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.border {
	width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	background-color: #eeeeee;
	margin-bottom: 80px;
}

.main-navigation {
	padding-top: 49px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	background-color: #eeeeee;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 500px;
	margin: 0;
	padding: 0px;
	list-style: none;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 160px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.login-link::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 26px;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.site-navigation li,
.user-navigation li {
	text-transform: uppercase;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a ,
.user-navigation a {
	display: block;
	vertical-align: middle;
	color: black;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	color: #a7a7a7;
}

.main-header-logo {
	width: 160px;
	height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.slide-description h3 {
	max-width: 600px;
	padding: 0;
	padding-bottom: 27px;
	margin: 0;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.slider {
	position: relative;
}

.slider-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 36px 0;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls i {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls .active::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-controls i::after {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	content: '';
	width: 18px;
	height: 18px;
	background: #ffffff;
	border-radius: 50%;
}

.description {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.button {
	display: inline-block;
	vertical-align: middle;
	font: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	vertical-align: middle;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: #da474b;
}

.button-learn-more {
	background-color: #fb565a;
	margin-bottom: 38px;
	padding: 19px 55px 18px 53px;
	border-radius: 3px;
}

.services-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding-bottom: 80px;
	margin: 0;
	list-style: none;
	border-bottom: 2px solid #eeeeee;
}

.services-item h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.services-item {
	width: 300px;
}

.services-item p {
	margin-bottom: 35px;
}

.button-services {
	padding: 19px 39px 18px 39px;
	border-radius: 3px;
}

.button-apps:hover,
.button-apps:focus {
	background-color: #00bc6c;
}

.button-apps:active {
	background-color: #00aa62;
	color: #38bd85;
}

.button-presentations:hover,
.button-presentations:focus {
	background-color: #eab534;
}

.button-presentations:active {
	background-color: #e5a722;
	color: #edc164;
}

.button-websites {
	background-color: #fb565a;
}

.button-apps {
	background-color: #00ca74;
}

.button-presentations {
	background-color: #efc84a;
}

.resume {
	display: flex;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 40px;
	border-bottom: 2px solid #eeeeee;
}

.resume h3 {
	padding: 0;
	padding-bottom: 35px;
	padding-top: 50px;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
}

.resume p {
	padding: 0;
	margin: 0;
}

.about-us-title {
	padding: 0;
	padding-bottom: 45px;
	margin: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.list-title {
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 45px;
}

.orders {
	margin-top: 47px;
}

.orders-list {
	padding: 0;
	padding-top: 35px;
	margin: 0;
	list-style: none;
}

.orders-list li {
	position: relative;
	padding-bottom: 35px;
	padding-left: 38px;
}

/* .orders-list li::before {
	content: url(../img/layer-23-copy-5.png);
	padding-right: 14px;
	padding-bottom: 15px;
} */

.orders-list li::before {
	content: '';
	position: absolute;
	bottom: 47px;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}
	
.about-us {
	width: 660px;
	padding-right: 140px;
}

.information {
	width: 360px;
}

caption {
	padding-top: 40px;
	padding-bottom: 50px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

td {
	padding-right: 25px;
	padding-bottom: 25px;
}

.facts {
	font-size: 45px;
	font-weight: 700;
}

.partners {
	width: 100%;
	padding-top: 46px;
	text-align: center;
	border-bottom: 2px solid #eeeeee;
}
	
.partners li:not(:last-child) {
	border-right: 2px solid #eeeeee;
}
	
.partners li {
	opacity: 0.2;
}

.partners li:hover,
.partners li:focus {
	opacity: 1;
}

.partners li:active {
	opacity: 0.1;
}

.our-partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 50px;
}

.our-partner {
	width: 260px;
}

.modal-map {
	margin-top: 80px;
}

.inner-page .modal-map{
	margin-top: 60px;
}

.modal-map-wrapper {
	background-image: url('../img/map_marker.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
	height: 416px;
}

.contacts {
	position: relative;
}

.contacts-wrapper {
	position: absolute;
	border: 1px solid white;
	background-color: #ffffff;
	width: 319px;
	height: 308px;
	top: -360px;
}

.contacts-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 54px;
	padding-left: 50px;
	margin-top: 0;
}

.address,
.tel {
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding-left: 50px;
}

.tel {
	margin-bottom: 0;
}

.button-contacts {
	padding: 19px 46px 19px 45px;
	margin-top: 37px;
	margin-left: 50px;
	border-radius: 3px;
	background-color: #fb565a;
}

.modal {
	display: none;
	position: fixed;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
	z-index: 2;
}

.modal-close {
	position: absolute;
	top: 78px;
	right: 90px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: #ffffff;
	border: 0;
	cursor: pointer;
}

.modal-close::after {
	content: url(../img/close-cross.png);
	position: absolute;
	top: 0;
	left: 0;
}

.modal-close:hover::after,
.modal-close:focus::after {
	content: url(../img/close-cross-hover.png);
}

.modal-close:active::after {
	content: url(../img/close-cross-active.png);
}

.write-to-us {
	top: 50px;
	left: 0;
	right: 0;
	width: 960px;
	padding: 70px 80px 84px 80px;
	box-sizing: border-box;
}

.write-to-us-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.write-to-us-form input[type='text'],
.write-to-us-form input[type='email'] {
	box-sizing: border-box;
	font: inherit;
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
	padding-left: 15px;
}

.write-to-us-form input:hover,
.write-to-us-form input:focus,
textarea:hover,
textarea:focus {
	border: 2px solid #b4b9bb;
}

.write-to-us-form input:active,
textarea:active {
	border: 2px solid #000000;
}

.write-to-us-item {
	width: 360px;
}

.write-to-us-letter {
	width: 100%;
}

.write-to-us-item label{
	display: block;
	margin-bottom: 12px;
	margin-top: 49px;
}

.write-to-us h2 {
	padding: 0;
	margin: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.write-to-us textarea {
	width: 100%;
	padding-left: 15px;
	padding-top: 14px;
	margin-top: 12px;
}

.letter {
	font: inherit;
	border: 2px solid #d7dcde;
	opacity: 0.5;
	color: #444444;
	font-weight: 400;
	line-height: 18px;
}

label {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.button-write-to-us {
	width: 260px;
	height: 50px;
	padding: 19px 84px 19px 82px;
	margin-top: 47px;
	border-radius: 3px;
	background-color: #fb565a;
}

.main-footer {
	padding-bottom: 69px;
}

.footer-wrapper {
	display: flex;
}

.footer-social {
	margin-top: 69px;
}

.footer-social li {
	list-style: none;
}

.social-buttons {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	padding-right: 140px;
	list-style: none;
	width: 260px;
}

.social-button-item {
	padding-right: 12px;
}

.social-button-item svg {
	padding-left: 11px;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding-right: 11px;
	width: 68px;
	height: 79px;
	background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-button:active path {
	opacity: 0.3;
}

.footer-discount {
	width: 560px;
}

b {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.main-header h1 {
	margin: 0;
	padding: 0;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	padding-left: 218px;
	padding-bottom: 115px;
	padding-top: 80px;
	padding-right: 218px;
}

.site-navigation-current {
	background: linear-gradient(to right, #fb565a, #fb565a 100%);
    background-position: 0 100%;
    background-size: 8px 2px;
    background-repeat: repeat-x;
}

.filters {
	width: 260px;
	padding-right: 140px;
}

.filters h2 {
	padding-top: 0;
}

.filter legend,
.catalog h3 {
	padding-bottom: 22px;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-item {
	margin: 0;
	padding: 0;
	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}	
	
.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}
	
.rage-controls .scale {
	height: 2px;
	background: #d7dcde;
}
	
.range-controls .bar {
	width:70%;
	height: 2px;
	background: #00ca74;
}
	
.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}
	
.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}
	
.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;
	font-size: 16px;
	text-transform: uppercase;
}
	
.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	margin-bottom: 62px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}
	
.max-price {
	text-align: right;
}

.filter ul {
	list-style: none;
	color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.features-list:hover + label,
.features-list:focus + label{
	color: #283136;
}

.filters fieldset {
	padding: 0;
	margin: 0;
}

.features-list {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 57px;
	color: #283136;
}

.features-list li {
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
	padding-left: 35px;
}

.filter-input-radio + label::before {
	content: '';
	position: absolute;
	margin-right: 15px;
	top: -4px;
	left: -35px;
	width: 15px;
	height: 15px;
	border: 4px solid #a6a6a6;
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: '';
	position: absolute;
	top: 3px;
	left: -28px;
	width: 9px;
	height: 9px;
	background-color: #a6a6a6;
	border-radius: 50%;
}

.filter-input-checkbox + label::before {
	content: '';
	position: absolute;
	top: -4px;
	left: -35px;
	width: 20px;
	height: 20px;
	border: 2px solid #a6a6a6;
	border-radius: 2px;
}

.filter-input-checkbox:checked + label::before {
	content: url(../img/checkbox-on.png);
	position: absolute;
	top: -4px;
	left: -35px;
	border: none;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:hover::before {
	border: 4px solid #4d4d4d;
}

.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after {
	background-color: #4d4d4d;
}

.filter-input-radio:disabled + label::before {
	border: 4px solid #ededed;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
	border: 2px solid #4d4d4d;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
	content: url(../img/checkbox-hover.png);
	border: none;
}

.filter-input-checkbox:disabled + label::before {
	content: url(../img/checkbox-disabled.png);
	border: none;
}

.filter-input-checkbox:disabled + label::before {
	border: 2px solid #ededed;
}

.features-list label {
	position: relative;
	display: block;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.filter-button {
	padding: 19px 88px 18px 89px;
	background-color: #eeeeee;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	opacity: 0.3;
	color: #000000;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.type-sort-item {
	opacity: 0.3;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.type-sort-current {
	opacity: 1;
}

.type-sort-item:hover,
.type-sort-item:focus {
	opacity: 0.6;
}

.type-sort-item:active {
	color: #000000;
	opacity: 1;
}

.catalog-columns {
	display: flex;
}

.catalog {
	width: 820px;
}

.catalog-item h3,
.catalog-item .catalog-description {
	text-align: center;
}

.card-header {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 40px;
	background-color: #eaeaea;
	border-radius: 3px 3px 0 0;
}

.card-header::before {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	top: 14px;
	left: 15px;
	border-radius: 50%;
	background-color: white;
}

.card-header::after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	top: 14px;
	left: 35px;
	border-radius: 50%;
	background-color: white;
}

.circle {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 14px;
	left: 55px;
	border-radius: 50%;
	background-color: white;
}

.card:hover .card-header {
	background-color: #4d4d4d;
}

.card {
	position: relative;
	text-align: center;
}

.card-text {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #eeeeee;
	opacity: 0;
}

.card:hover .card-text{
	opacity: 1;
}

.catalog-item:hover {
	box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-sort {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 58px;
}

.catalog-sort h3 {
	padding: 0;
	margin: 0;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 26px;
	list-style: none;
}

.catalog-item {
	width: 360px;
	margin-right: 40px;
	margin-bottom: 34px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.type-sort {
	margin: 0;
	padding: 0;
	padding-left: 265px;
	list-style: none;
	display: flex;
	align-items: center;
}

.type-sort-item {
	padding-right: 25px;
}

.switch {
	position: relative;
}

.switch-down::before {
	content: url(../img/icon-down-active.png);
	position: absolute;
	top: 1px;
	cursor: pointer;
}

.switch-down:hover::before,
.switch-down:focus::before {
	content: url(../img/icon-down-hover.png);
}

.switch-down:active::before {
	content: url(../img/icon-down-active.png);
}

.switch-up::before {
	content: url(../img/icon-up.png);
	position: absolute;
	bottom: 5px;
	left: 25px;
	cursor: pointer;
}

.switch-up:hover::before,
.switch-up:focus::before {
	content: url(../img/icon-up-hover.png);
}

.switch-up:active::before {
	content: url(../img/icon-up-active.png);;
}

.catalog-title-link {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-description {
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.catalog-price-link {
	padding: 19px 60px 18px 62px;
	margin-top: 30px;
	margin-bottom: 43px;
	border-radius: 3px;
	background-color: #fb565a;
}

.catalog-price-link:hover,
.catalog-price-link:focus {
	background-color: #e74246;
}

.catalog-price-link:active {
	color: #ffffff;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.pagination-list-wrapper {
	display: flex;
	align-items: baseline;
}

.pagination-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.pagination-item {
	padding-right: 11px;
}

.pagination-item a {
	padding: 19px 23px 19px 21px;
	background-color: #eeeeee;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	border-radius: 3px;
}

.pagination-item-next {
	padding: 19px 79px 16px 78px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	background-color: #eeeeee;
	border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item-next:hover,
.pagination-item-next:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active,
.pagination-item-next:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
	color: #959595;
}

.pagination-item-current a {
	padding: 16px 20px 16px 18px;
	border: 3px solid #dbdbdb;
	background: #ffffff;
}